[submodule "src/ext/minipbrt"]
	path = src/ext/minipbrt
	url = https://github.com/LuisaGroup/minipbrt.git
[submodule "src/ext/json"]
	path = src/ext/json
	url = https://github.com/nlohmann/json.git
[submodule "src/ext/magic_enum"]
	path = src/ext/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "src/ext/glm"]
	path = src/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/ext/fmt"]
	path = src/ext/fmt
	url = https://github.com/fmtlib/fmt.git
